<div class="container-fluid pt-5">

    <div class="d-flex justify-content-between mb-3">
        <div>
            <button class="btn btn-primary" routerLink="../add">+ Add</button>
        </div>
        <div>
            <button class="btn btn-primary">Filter</button>
        </div>
        <!-- <div *ngIf="isFilterMode" class="filter-notification-badge rounded-circle position-relative"></div>
        </div> -->
    </div>

    <div>
        <h2 class="text-center">Customer List</h2>
    </div>

    <div class="pt-4">
        <table class="table w-100">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let customer of customersData; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{customer.firstname}}</td>
                    <td>{{customer.lastname}}</td>
                    <td>{{customer.age}}</td>
                    <td>{{customer.gender}}</td>
                    <td>{{customer.city}}</td>
                    <td>
                        <button class=" btn btn-primary" routerLink="/mvp/edit/{{customer.id}}">Edit</button>
                        <button class=" btn btn-danger ms-2" (click)="onDelete(customer.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>