<!-- <div class="container-fluid pt-4">
  <h2 class="text-center">{{formTitle}}</h2>


  <div class="custpmer-form p-4">

    <form [formGroup]="customersForm">

      <div>
        <label for="firstname" class="form-label">First Name</label>
        <input class="form-control" formControlName="firstname" type="text" id="firstname" name="firstname"
          placeholder="Your name..">
        <div class="error"
          *ngIf="this.submitted || customersForm.get('firstname')?.touched  && customersForm.get('firstname')?.invalid ">
          <small class="required"
            *ngIf="customersForm.get('firstname')?.errors && customersForm.get('firstname')?.errors!['required']">This Field is
            required</small>
        </div>
      </div>

      <div>
        <label for="lastname" class="form-label">Last Name</label>
        <input class="form-control" formControlName="lastname" type="text" id="lastname" name="lastname"
          placeholder="Your last name..">
          <div class="error"
          *ngIf="this.submitted || customersForm.get('lastname')?.touched  && customersForm.get('lastname')?.invalid ">
          <small class="required"
            *ngIf="customersForm.get('lastname')?.errors && customersForm.get('lastname')?.errors!['required']">This Field is
            required</small>
        </div>
      </div>

      <div>
        <label for="age" class="form-label">Age</label>
        <input class="form-control" type="number" formControlName="age" id="age" name="age" placeholder="age">
      </div>


      <div>
        <label for="gender" class="form-label">Gender:</label>
        <label for="male" class="ms-4 form-label">Male</label>
        <input class="form-check-input" formControlName="gender" value="Male" type="radio" name="gender" id="male">
        <label for="female" class="ms-4 form-label">Female</label>
        <input class="form-check-input" formControlName="gender" value="Female" type="radio" name="gender"
          id="female"><br>
      </div>

      <div>
        <label for="city" class="form-label">City</label>
        <input class="form-control" type="text" formControlName="city" id="city" name="city" placeholder="City">
      </div>

      <div class="pt-4">
        <input type="button" class="btn btn-primary" value="Submit" (click)="onSubmit()">
        <input type="button" class="btn btn-danger ms-3" value="cancel" (click)="onCancel()">
      </div>

    </form>
  </div>
</div> -->

<div class="container-fluid p-5">
  <div class="text-end">
    <span>Already have abn account?</span><a class="ms-1" href="">Sign in</a>
  </div>
  <div>
    <h5 class="sub-title">Sign Up</h5>
    <h4 class="title pt-2 mb-5">Set Patient's profile here</h4>
  </div>
  <!-- start : form -->
  <form>
    <div class="row g-3">
      <div class="col-12">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="Email address">
          <label for="email">Email address</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating">
          <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
          <label for="confirm-password">Confirm Password</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating">
          <input type="password" class="form-control" id="first-name" placeholder="First Name">
          <label for="first-name">First Name</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating">
          <input type="password" class="form-control" id="last-name" placeholder="Last Name">
          <label for="last-name">Last Name</label>
        </div>
      </div>
      <div class="col-6">
        <!-- start : dob and weight -->
        <div class="row g-3">
          <div class="col-6">
            <div class="form-floating">
              <input type="date" class="form-control" id="dob" placeholder="DOB">
              <label for="dob">DOB</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="weight" placeholder="weight">
              <label for="weight">weight(optional)</label>
            </div>
          </div>
        </div>
        <!-- start : dob and weight -->
      </div>
      <div class="col-6">
        <div class="form-floating">
          <input type="tel" class="form-control" id="mobile-no" placeholder="Mobile No">
          <label for="mobile-no">Mobile No</label>
        </div>
      </div>
      <!-- start : select -->
      <div class="col-6">
        <select class="form-select" aria-label="Default select example">
          <option selected>Diseases</option>
        </select>
      </div>
      <!-- end : select -->
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio" id="male" value="Male">
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio" id="female" value="Female">
          <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="radio" id="other" value="Other">
          <label class="form-check-label" for="other">Other</label>
        </div>
      </div>
      <div class="col-6">
        <div class="text-end">
          <button class="btn btn-outline-primary">Cancel</button>
        </div>
      </div>
      <div class="col-6">
        <button class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </form>
  <!-- end : form -->
</div>



