<div class="container py-5">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6">

                <label for="firstName">Email address</label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter First Name">
            </div>
            <div class="col-6">
                <label for="person">Select Name</label>

                <ng-select [items]="people" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="id"
                    [(ngModel)]="selectedPeople" formControlName="person" [maxSelectedItems]="3">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone : true }"/> {{item.name}}
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </form>
</div>