<!-- start : sidebar -->
<!-- start : sidebar header -->
<div class="side-header d-flex justify-content-center align-items-center">
    <h4 class="sidebar-title">Angular Practice</h4>
</div>
<!-- start : sidebar header -->
<!-- start : sidebar navigations -->
<div class="h-100 flex-grow-1 h-100 d-flex flex-column justify-content-between">
    <!-- start : sidebar options -->
    <ul class="nav flex-column flex-grow-1 sidebar-options">
        <li class="nav-item">
            <a routerLink="communication" class="nav-link d-flex align-items-center">
                <span class="icon icon-user"></span>
                <span class="nav-text ps-2">Communcation</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="mvp" class="nav-link d-flex align-items-center">
                <span class="icon icon-user"></span>
                <span class="nav-text ps-2">MVP</span>
            </a>
        </li>
    </ul>
    <!-- end : sidebar options -->
    <!-- start : sidebar actions -->
    <ul class="nav sidebar-actions">
        <li class="nav-item">
            <a routerLink="" class="nav-link d-flex align-items-center">
                <span class="icon icon-user"></span>
                <span class="nav-text ps-2">Log out</span>
            </a>
        </li>
    </ul>
    <!-- start : sidebar actions -->
    <!-- start : sidebar navigations -->
</div>
<!-- end : sidebar -->