<div class="container pt-5 h-100">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="w-75 m-auto">
        <div class="row">
            <div class="col-3">
                <label for="age" class="fs-5">Age</label>
            </div>
            <div class="col-9">
                <input class="form-control ms-4" formControlName="age" type="text"
                    placeholder="Enter your current age:">
                <div *ngIf="this.submitted || myForm.get('age')?.touched  && myForm.get('age')?.invalid ">
                    <small class="text-danger ms-4"
                        *ngIf="myForm.get('age')?.errors && myForm.get('age')?.errors!['required']">
                        This Field is required
                    </small>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-3">
                <label for="documentNumber" class="fs-5">Document Number</label>
            </div>
            <div class="col-9">
                <input *ngIf="!this.enteredAge || this.enteredAge < 15" class="form-control ms-4" formControlName="documentNumber" type="text" #document
                    placeholder="Enter document Number">
                <input *ngIf="this.enteredAge >= 15 && this.enteredAge < 18" class="form-control ms-4" formControlName="documentNumber" type="text" #document
                    placeholder="Enter Aadhar Number">
                <input *ngIf="this.enteredAge > 18" class="form-control ms-4" formControlName="documentNumber" type="text" #document
                    placeholder="Enter Pancard Number">
                <div
                    *ngIf="this.submitted || myForm.get('documentNumber')?.touched  && myForm.get('documentNumber')?.invalid ">
                    <small class="text-danger ms-4"
                        *ngIf="myForm.get('documentNumber')?.errors && myForm.get('documentNumber')?.errors!['required']">
                        This Field is required
                    </small>
                    <small class="text-danger ms-4"
                        *ngIf="myForm.get('documentNumber')?.errors && (myForm.get('documentNumber')?.errors!['pattern']?.requiredPattern === '/^[2-9]{1}[0-9]{11}$/')">
                        Use correct format of aadhar number
                    </small>
                    <small class="text-danger ms-4"
                        *ngIf="myForm.get('documentNumber')?.errors && (myForm.get('documentNumber')?.errors!['pattern']?.requiredPattern === '/[A-Z]{5}[0-9]{4}[A-Z]{1}/')">
                        Use correct format of pancard number
                    </small>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>